@model Service

@{
    ViewData["Title"] = "Видалення послуги";
}

<link rel="stylesheet" href="~/css/services_page_style.css">

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 details-header>Підтвердіть видалення послуги</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" value="@Model.Name" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" value="@Model.Description" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" value="@Model.Duration" readonly />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" value="@Model.Price грн" readonly />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group delete-btns">
                    <form asp-action="Delete">
                        <a class="btn btn-outline-secondary" asp-action="Index">Скасувати</a>
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Видалити" class="btn btn-danger float-right" />
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>