@using BeautyBooking.Data.Enums;
@using BeautyBooking.Data.Static;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeautyBooking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeautyBooking.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="header">
        <div>
            <a asp-controller="Services" asp-action="Index" class="logo">BeautyBooking</a>
            <a asp-controller="Services" asp-action="Index" class="menu-btn">Послуги</a>
            <a asp-controller="Masters" asp-action="Index" class="menu-btn">Майстри</a>
            @if (CurrentUser.User.Equals(UserRole.Admin))
            {
                <a asp-controller="Clients" asp-action="Index" class="menu-btn">Клієнти</a>
                <a asp-controller="Records" asp-action="Index" class="menu-btn">Записи</a>
            }
        </div>

        @if (CurrentUser.User.Equals(UserRole.UnauthorizedUser))
        {
            <a asp-controller="Account" asp-action="SignIn" class="signin">Увійти</a>
        }
        else if(!CurrentUser.User.Equals(UserRole.Admin))
        {
            <a asp-controller="Account" asp-action="Details" class="signin">Особистий кабінет</a>
        }
    </section>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BeautyBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
