@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap");

*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #0b0b0b;
}


/*header style*/

/*header style*/

.title {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.25;
    color: #0b0b0b;
    margin: 30px 0px 50px 0px;
}

/*header a*/
a.logo {
    margin-right: 75px;
    color: #fff;
    text-decoration: none;
    font-size: 18pt;
}

a.services,
a.master {
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 15pt;
}

a.signin {
    margin-left: auto;
    padding: 8px 16px;
    border: 1px solid #ffffff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.row {
    margin-top: 3%;
    padding-bottom: 3%;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
}

.text {
    margin-top: 10%;
    text-align: center !important;
}

.row {
    text-align: left;
}

.btn-show-all {
    margin: 5% auto 0%;
    width: 50%;
    font-size: 14pt;
    background-color: #175248;
    color: #ffffff !important;
}

.btn-outline-info {
    width: 100%;
}

.btn-outline-info,
.btn-show-all {
    border-color: #175248;
    color: #000000;
    border-color: none;
}

    .btn-outline-info:hover,
    .btn-outline-info:active,
    .btn-outline-info:focus,
    .btn-show-all:hover,
    .btn-show-all:active {
        background-color: #175248;
        border-color: #175248;
        color: #ffffff;
        border-color: none;
    }


.master-info {
    width: 75%;
}

/*add btns*/
.add-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancel-btn {
    width: 40%;
/*    padding-top: 2.3%;*/
}

.add-btn {
    width: 40%;
    font-family: "Nunito", sans-serif;
}

.add-btn-container {
    margin-top: 5%;
    text-align: center;
}

.btn-add-master {
    margin-top: 0%;
    padding: 1%;
    width: 40%;
    font-size: 14pt;
}

/*details btns*/
.btns-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btns-container a.free-time-btn
{
    color: #175248;
    font-size: 14pt;
}

.to-free-time-btn {
    text-align: right;
}

.to-schedule-btn {
    text-align: left;
}

.master-records-btns 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}